/**     Headings/CTAs/Header Nav    **/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
/**     Body    **/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html, body, p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

h1, h2, h3,
h4, h5, nav, 
button {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

/** PAGE DIV **/
.page-div {

}

/** NAV BAR **/
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 5% 0 5%;
}
.nav-list {
    display: flex;
    justify-content: space-around;
    width: 400px;
}

/** HERO **/
.hero {
    display: flex;
    padding: 0 5% 0 5%;
    margin-top: 5%;
}
.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 640px;
}
.hero-title,
.feature-title {
    font-size: 38px;
    font-weight: 700;
}
.hero-text {
    font-size: 18px;
}
.hero-title, .hero-text,
.feature-title, .feature-p {
    color: hsl(243, 87%, 12%);
}
.hero-img img{
    width: 640px;
}
.input-button {
    display: flex;
    gap: 1%;
}
#email {
    height: 40px;
    width: 300px;
}
.hero-btn {
    border: none;
    border-radius: 2px;
    width: 200px;
    height: 47px;
    background-color: hsl(224, 93%, 58%);
    color: white;
}

/** FEATURE BLOCK 
.curve-img img{
    background-image: url(./images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    height: 500px;
}**/
.feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5% 0 5%;
    margin-top: 15%;
}
.feature-p {
    width: 520px;
}
.feature-link {
    color: hsl(170, 45%, 43%);
    text-decoration: underline;
}
.card {
    border: solid 1px red;
    width: 400px;
    height: 300px;
}
.feature-image img{
    align-content: center;
    width: 540px;
}
.author img {
    border-radius: 100px;
    height: 40px;
    width: 40px;
}