/**     Headings/CTAs/Header Nav    **/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
/**     Body    **/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html, body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h1, h2, h3,
h4, h5, nav, 
button {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

/** PAGE DIV **/
.page-div {

}

/** NAV BAR **/
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 5% 0 5%;
}
.nav-list {
    display: flex;
    justify-content: space-around;
    width: 400px;
}

/** HERO **/
.hero {
    display: flex;
    padding: 0 5% 0 5%;
    margin-top: 5%;
}
.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 640px;
}
.hero-title,
.feature-title {
    font-size: 38px;
    font-weight: 700;
}
.hero-text {
    font-size: 18px;
}
.hero-title, .hero-text,
.feature-title, .feature-p {
    color: hsl(243, 87%, 12%);
}
.hero-img img{
    width: 640px;
}
.input-button {
    display: flex;
    gap: 1%;
}
#email {
    height: 40px;
    width: 300px;
}
.hero-btn {
    border: none;
    border-radius: 2px;
    width: 200px;
    height: 47px;
    background-color: hsl(224, 93%, 58%);
    color: white;
}

/** FEATURE BLOCK 
.curve-img img{
    background-image: url(./images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    height: 500px;
}**/
.feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5% 0 5%;
    margin-top: 15%;
    height: 620px;
}
.feature-p {
    width: 520px;
}
.feature-link {
    color: hsl(170, 45%, 43%);
    text-decoration: underline;
}
.card {
    display: flex;
    flex-direction: column;
    box-shadow: hsl(208, 11%, 55%) 0px 5px 15px;
    border-radius: 10px;
    width: 300px;
    height: 250px;
    padding: 5% 5% 5% 5%;
    margin-top: 5%;
}
.card img {
    width: 20px;
    height: 20px;
}
.feature-image img{
    align-content: center;
    width: 540px;
}
.author {
    display: flex;
    align-items: center;
    gap: 2%;
    height: 70px;
}
.author p {
    flex-direction: column;
}
.author-details {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    height: 50px;
    width: 120px;
}
#name {
    margin-bottom: -5%;
    font-size: 12px;
    font-weight: 400;
}
#role {
    font-size: 10px;
    color: hsl(0, 0%, 75%);
}
.author img {
    border-radius: 100px;
    height: 40px;
    width: 40px;
}
/** SIGNUP **/
.signup-section {
    background-color: hsl(238, 22%, 44%);
    margin-top: 10%;
}
.signup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 5% 5% 5%;
}
.signup-text {
    width: 500px;
}
.signup-text h2 {
    font-size: 36px;
    font-weight: 700;
}
.signup-title, .signup-p {
    color: white;
}
.signup-button #email {
    width: 400px;
    margin-bottom: 5%;
}
/** FOOTER **/
.footer-section {
    background-color: hsl(243, 87%, 12%);
    color: white;
    height: 500px;
}
.footer {
    display: flex;
    justify-content: space-between;
    padding: 5% 5% 0 5%;
    height: 450px;
}

.sm-icons {
    display: flex;
    gap: 10px;
    margin-top: 5%;
    margin-left: 5%;
}
.fa-brands {
    border: solid 1px white;
    border-radius: 15px;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}